.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label,
input,
p,
a {
    margin: 12px 0;
}

.success {
    color: var(--success);
}

.warning {
    color: var(--danger);
}

.results p {
    margin-bottom: 12px;
}